<div class="card text-center" style="min-width: 18rem;">
    <div class="card-header">{{username}}</div>
    <img class="card-img-top" src="{{profPic}}" alt="profile-pic">
    <div class="card-body">
        <p class="card-text">{{bio}}</p>
        <a href="#" class="btn btn-primary" style="background-color: palevioletred;">Connect</a>
    </div>
</div>