<div class="card" style="min-width: 18rem;">
    <div class="card-header">{{username}}</div>
    <img class="card-img-top" src="{{profPic}}" alt="profile-pic">
    <div class="card-body">
        <p class="card-text">{{bio}}</p>
    </div>
</div>