<div class="container">
        <div class="row">
            <!-- ROW 1 COL 1 -->
            <div class="col-sm-4">
                <img src="./public/assets/images/arts-p2.png" style="width: 100%">
                <p style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); color:antiquewhite">Arts</p>
            </div>
            <!-- ROW 1 COL 2 -->
            <div class="col-sm-4">
                <img src="./public/assets/images/food-p2.png" style="width: 100%">
                <p style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); color:antiquewhite">Food</p>
            </div>
            <!-- ROW 1 COL 3 -->
            <div class="col-sm-4">
                <img src="./public/assets/images/nature-p2.png" style="width: 100%">
                <p style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); color:antiquewhite">Nature</p>
            </div>
        </div>
</div>