<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connect">Connect</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/matches">Matches</a>
        </li>
      </ul>
    </div>
    <a class="nav-link text-end" href="/logout">Logout</a>
  </div>
</nav>

<div class="container">
  <div class="card-group">
    {{#each users}}
    <div class="card text-center" style="min-width: 18rem; max-width: 18rem; outline:black">
      <div class="card-header">{{username}}</div>
      <img class="card-img-top" src="{{profPic}}" alt="profile-pic">
      <hr>
      <div class="card-body">
        <p class="card-text">{{bio}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>