body {
  background-color: snow;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #AFC4C0;
}

form.signup,
form.login {
  margin-top: 30px;
}

#formBox {
  border: 4px solid #AFC4C0;
  border-radius: 6%;
}

a {
  color: #447a71;
}

.silver {
  color: dimgray;
}

.cardProfile {
  padding-left: 100x;
  padding-right: 0px;
  padding-bottom: 100px;
  margin-top: 20px;
}

#editBtn {
  width: 25px;
  height: 25px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;


}

.form-check {
  margin-left: 20px;
}

#modalUpload {
  margin-bottom: 100px;
}

#imgHolder {
  width:200px;
  height: 200px;
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.header-img {
  width:100px;
  height: 250px;
}